@use '_commons' as c;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input::placeholder, 
textarea::placeholder {
    color: grey;
    font-size: 1.2em;
}
  

.contacto contacto{
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.contact-container{
    max-width: 960px;
    margin:auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    overflow: hidden;
       .form-container{
           padding: 20px;
}
        h3{
           font-size: 1.3rem;
           font-weight: 600;
           margin-bottom: 1rem;
}
        .contact-form{
            display: grid;
            row-gap: 1rem;
}
        input, 
        textarea{
            width: 100%;
            border: none;
            outline: none;
            background: rgba(63, 94, 63, 0.26);
            padding: 10px;
            font-size: 0.9rem;
            color: #fff;
            border-radius: 0.4rem;
}
        textarea{
            resize: none;
            height: 200px;
}
        .send-button{
            border: none;
            outline: none;
            background: map-get(c.$colores,"texto-menu");
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            cursor:pointer;
            &:hover{
                background: hsl(181,100%,44%, 0.8);
                transition: 0.3s all linear;
            }
}
        iframe{
            width: 100%;
            height: 90%;
            margin-top: 35px;
            margin-right:35px;
            margin-left: -15px;
            border:double 5px #4CB3B6;
            border-radius: 5px;
}
        
        
}        